# ===============================
# IntelliJ IDEA (ONLY these)
# ===============================
.idea/
*.iml
*.ipr
*.iws

# ===============================
# Java build / output
# ===============================
out/
target/
*.class

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
Desktop.ini

# ===============================
# DO NOT IGNORE SOURCE CODE
# ===============================
!src/
